<h3>Index</h3>

<p>@Html.ActionLink("Createnew","CreateBooknow")</p>
@model IEnumerable<ModelViewController.Models.Booknow>
<a  class="btn btn-primary" asp-controller="Booknow" asp-action="CreateBooknow">Add a Booking</a>
<table class="table">
<tr>
<th>Hotelname</th>
<th>Amount</th>

</tr>
@foreach(var hotel in Model)
{
	<tr>
	 
	<td>@hotel.hotelname</td>
	<td>@hotel.amount</td>
	</tr>
}
</table>
